    .contactUs {
        width: 100%;
        padding-bottom: 10rem;
    }
    
    .contactUs-nav {
        width: 100%;
        background-color: #F6F7F8;
        padding: 1rem 0;
        margin-bottom: 5rem;
    }
    
    .contactUs-nav ul {
        width: 40%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .contactUs-nav ul span {
        padding: 0 1rem;
    }
    
    .contactUs-container {
        width: 80%;
        /* height: 80rem; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    
    .contactUs-lf-cont {
        width: 50%;
        position: relative;
        /* background-image: url('../../Assets/Images/Group\ 527.png');
    background-repeat: no-repeat;
    background-size: cover; */
    }
    
    .contacUs-bg-div {
        width: 100%;
        height: 51rem;
    }
    
    .bluebg {
        width: 100%;
        height: 100%;
    }
    
    .contactUs-txt {
        position: absolute;
        top: 0;
        right: 8rem;
    }
    
    .contactUs-txt h2 {
        width: 200px;
        font-family: var(--raleway);
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 47px;
        color: #FFFFFF;
        padding: 7rem 0 9rem 0;
    }
    
    .contactUs-txt p {
        font-family: var(--raleway);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        text-transform: capitalize;
        color: #FFFFFF;
        padding: 0.5rem 0;
        width: 200px;
    }
    
    .call-bg {
        position: absolute;
        bottom: 0rem;
        left: -8rem;
    }
    
    .contactUs-rt-cont {
        width: 50%;
        padding-left: 5rem;
    }
    
    .input-flex-div {
        padding-top: 7rem;
    }
    
    .input-flex {
        padding-top: 1rem;
    }
    
    .input-flex input {
        width: 65%;
        height: 5rem;
        border: 1px solid #969393;
        padding-left: 1rem;
    }
    
    .input-flex input:hover {
        border: 1px solid #33A0FF;
    }
    
    .input-flex h3 {
        font-family: var(--raleway);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        color: #373737;
    }
    
    .text-area {
        padding-top: 1rem;
    }
    
    .text-area h4 {
        font-family: var(--raleway);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        color: #373737;
    }
    
    .text-area textarea {
        width: 65%;
        border: 1px solid #969393;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    
    .text-area textarea:hover {
        border: 1px solid #33A0FF;
    }
    
    .search-contact {
        padding-top: 2rem;
    }