.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    text-align: center;
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-transform: capitalize;
    color: #40BFFF;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #40BFFF;
    opacity: 0.5;
}

.popup .close:hover {
    cursor: pointer;
    color: #000;
}

.popup .content {
    max-height: 50%;
    overflow: auto;
    display: flex;
    width: 90%;
    margin: auto;
    gap: 5rem;
}

.stepper {
    display: flex;
    justify-content: center;
    width: 20%;
    /* height: 5rem; */
    margin: auto;
}

.stepper img {
    width: 100%;
    height: 100%;
}

.poplf {
    width: 45%;
}

.poprt {
    width: 45%;
    /* padding: 2rem; */
}

.poprt input {
    width: 100%;
    /* height: rem; */
    border-radius: 5px;
    border: none;
    background: #DFDEDE;
    padding: 1rem;
    margin-bottom: 2rem;
}

.input1 {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #DFDEDE;
    padding: 1rem;
    margin-bottom: 2rem;
}

.poplf p {
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #40BFFF;
}

.paymentcard {
    width: 100%;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: auto;
}

.checkbox span {
    width: 70%;
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    padding: 1rem;
}

.checkbox:hover {
    background: #EBF0FF;
}

.txtarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #DFDEDE;
    padding: 1rem;
    margin-bottom: 2rem;
}

.gotopayment {
    /* width: 30%; */
    margin: auto;
    border-radius: 5px;
    border: none;
    background: #33A0FF;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    font-family: var(--raleway);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    /* white */
    color: #FFFFFF;
}

.creditcard {
    width: 70%;
    margin: auto;
}

.creditcard img {
    width: 100%;
}

.input3div {
    width: 100%;
    /* gap: 1rem; */
    display: flex;
    justify-content: space-between;
}

.input3 {
    width: 45% !important;
}

.checkbox2 {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-items: center;
}

.checkbox2 input {
    width: 5%;
    padding-right: 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* gray */
    color: #999999;
}

.savecard {
    width: 85% !important;
}

.h4 {
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #223263;
}

.prev {
    position: absolute;
    top: 20px;
    left: 30px;
    transition: all 200ms;
    background: none;
    border: none;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 70%;
    }
}