.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 2rem 2rem;
}

.loadmore {
    width: 30%;
    margin: auto;
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
}

.load-btn {
    margin: auto;
    border: none;
    background: none;
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #33A0FF;
}

.load-dash {
    width: 120px;
    height: 5px;
    background-color: #33A0FF;
}